<!--<nav class="navbar navbar-expand-sm navbar-dark bg-light">
    <a class="navbar-brand" routerLink=""><img src="assets/logo.png" alt="logo"></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div class="topnav">
        <div class="topnav-right">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 float-right">
                <li class="nav-item active ">
                    <a class="nav-link " routerLink="" style="color: #1F5473;">Home <span
                            class="sr-only">(current)</span></a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" routerLink="EspaceCentre" style="color: #1F5473;">Espace des centres</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" style="color: #1F5473;"><img (click)="open(content)" src="assets/enter.png" alt=""></a>
                </li>
            </ul>
        </div>
        
      </div>
    </div>
</nav>-->

<head>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>

  <nav class="navbar sticky-top navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink=""><img src="assets/logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item active">
            <a class="nav-link" style="color: #1F5473;" routerLink=""> Acceuil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #1F5473;" routerLink="EspaceCentre">Espace centre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #1F5473;"><img routerLink="/LogInCentre" src="assets/enter.png"
                alt="login"></a>

          </li>
        </ul>
      </div>
    </div>
  </nav>

</body>

<!--<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Se connecter</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email</label>
        <div class="form-group inputWithIcon">
          <input
          aria-describedby="emailHelp"
          placeholder="Votre email"
          formControlName="email"
          type="email"
          id="email"
          class="form-control">
          <i class="fa fa-at fa-lg fa-fw" aria-hidden="true"></i>
          <div class="alert alert-danger" *ngIf="email?.touched && !email?.valid">
            <div *ngIf="email?.errors?.required">Le mail est obligatoire</div>
          </div>
        </div>
      </div>
      <div class="form-group ">
        <label for="password">Mot de passe</label>
        <div class="form-group inputWithIcon">
          <input
          placeholder="Mot de passe"
          type="password"
          class="form-control"
          id="password"
          FormControlName="password" >
          <i class="fa fa-key fa-lg fa-fw" aria-hidden="true"></i>
          <div
              class="alert alert-danger"
              *ngIf="password?.touched && !password?.valid"
            >
              <div *ngIf="password?.errors?.required">
                Le mot de passe est obligatoire
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit"
        class="btn text-white m-2"
        style="background-color: #d88c8a"
          (click)="modal.close('Save click')">Connexion</button>
      </div>
    </form>
  </div>
  
</ng-template>-->