<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Qui somme nous ?</h6>
        <p class="text-justify">HydroLife est une plateforme dédier à la modernisation du secteur d'hydrothérapie faite
          au sein d'un projet de fin d'études et qui est maintenant part d'un marcher </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Pour nous contacter:</h6>
        <p>WEBMASTER@HYDROLIFE.TN</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Nos moyen de paiement :</h6>
       
       <img style="width: 20%;" class="mr-3"  src="assets/mastercard.png" alt="mastercard">
       <img style="width: 20%;" class="mr-3"  src="assets/visa.png" alt="visa">
       <img style="width: 20%;" class="mr-3"  src="assets/edinar.png" alt="edinar">
     
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
          <a href="https://www.facebook.com/safa.abidi99/">HydroLife Team</a>.
        </p>
      </div>

    </div>
  </div>
</footer>