<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Qui somme nous ?</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna 
            aliqua.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Pour nous contacter:</h6>
            <p>WEBMASTER@HYDROLIFE.TN</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Nos moyen de paiement</h6>
          <ul class="footer-links">
            <i class="fa fa-cc-mastercard fa-lg fa-fw"></i>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
       <a href="#">HydroLife Team</a>.
          </p>
        </div>

      </div>
    </div>
</footer>