div a {
   
  color: #1f5473;
  font-size: large;
  margin-right: 50px;
  cursor: pointer;
  
}
div a:hover{
  text-decoration: none;
  color: #1f5473;
}
div li {
  list-style: none;
}
a.active-link {
  border-bottom: 3px solid #D88C8A;
}
a {
  border-bottom: none;
}

.all{
  margin-left: 450px;
  margin-top: 50px;
}

/*------------------------------------------------------RESPONSIVE SECTION------------------------------------------------------------------------*/
@media screen and (max-width: 600px) {
  div a {
      margin: 0px 3px;
      font-size:small;
      font-weight: 500;
      
    }
    .all{
      margin-left: 0px;
    }
  }
@media screen and (min-width: 601px) and (max-width: 991px) {
  div a {
      margin: 10px 10px;
      font-size:medium;
      font-weight: 500;
      
    }
    .all{
      margin-left: 0px;
    }

}

@media screen and (min-width: 1300px) and (max-width: 2560px) { 

  div a {
    margin: 10px 10px;
    font-weight: 500;
    
  }

}