<div class="container">
    <div class="p-5 all">
      <div class="text-center d-flex">
        <li><a routerLinkActive="active-link" routerLink="/CentreProfil/{{ info?.id }}">
          Profile
        </a></li>
        <li><a routerLinkActive="active-link" routerLink="/CentreService/{{ info?.id }}" >
          Service
        </a></li>
        <li><a routerLinkActive="active-link" routerLink="/CentrePromotion/{{ info?.id }}" >
          Promotion
        </a></li>
        <li><a routerLinkActive="active-link" routerLink="/CentreReservation/{{ info?.id }}" >
          Réservation
        </a></li>
        <li><a routerLinkActive="active-link" routerLink="/CentreGallerie/{{ info?.id }}" >
          Gallerie
        </a></li>
      </div>
    </div>
</div>