<app-header></app-header>
<br><br><br><br><br>
<h1 class="text-center m-5" style="color: #d88c8a">Modifier une promotion</h1>
<div class="container text-center mb-5">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form  [formGroup]="updatePromotionForm" #f="ngForm" (ngSubmit)="updatePromotion()" class="resStyle">
        <div class="row">
          <div class="form-group inputWithIcon col">
            <input
              placeholder="Titre de la promotion"
              for="titre_promo"
              name="titre_promo"
              id="titre_promo"
              type="text"
              class="form-control"
              formControlName="titre_promo" 
            />
            <i class="fa fa-font fa-lg fa-fw" aria-hidden="true"></i>
            <div class="alert alert-danger" *ngIf="titre_promo?.touched && !titre_promo?.valid">
              <div *ngIf="titre_promo?.errors?.required">
                  Le titre de la promotion est obligatoire
                </div>
              <div *ngIf="titre_promo?.errors?.pattern">
                Le titre de la promotion ne doit pas contenir de chiffres
              </div>
            </div>
          </div>
          <div class="form-group inputWithIcon col">
            <input
              placeholder="Pourcentage de la promotion"
              for="pourcentage"
              name="pourcentage"
              id="pourcentage"
              type="text"
              class="form-control"
              formControlName="pourcentage" 
            />
            <i class="fa fa-percent fa-lg fa-fw" aria-hidden="true"></i>
            <div class="alert alert-danger" *ngIf="pourcentage?.touched && !pourcentage?.valid">
              <div *ngIf="pourcentage?.errors?.required">
                  La promotion est obligatoire
                </div>
              <div *ngIf="pourcentage?.errors?.pattern">
                La promotion ne doit pas contenir de lettres
              </div>
            </div>

          </div>
  
        </div>
        <div class="row">
        <div class="form-group inputWithIcon col">
          <input
            placeholder="Date début (Année/Mois/Jour)"
            for="date_debut_promo"
            name="date_debut_promo"
            id="date_debut_promo"
            type="text"
            class="form-control"
            formControlName="date_debut_promo" 
          />
          <i class="fa fa-calendar fa-lg fa-fw" aria-hidden="true"></i>
          <div class="alert alert-danger" *ngIf="date_debut_promo?.touched && !date_debut_promo?.valid">
            <div *ngIf="date_debut_promo?.errors?.required">
                La date début est obligatoire
              </div>
            <div *ngIf="date_debut_promo?.errors?.pattern">
              La promotion doit etre écrit sous cette forme Année/Mois/Jour
            </div>
          </div>
        </div>
        <div class="form-group inputWithIcon col">
          <input
            placeholder="Date fin (Année/Mois/Jour)"
            for="date_fin_promo"
            name="date_fin_promo"
            id="date_fin_promo"
            type="text"
            class="form-control"
            formControlName="date_fin_promo" 
          />
          <i class="fa fa-calendar fa-lg fa-fw" aria-hidden="true"></i>
          <div class="alert alert-danger" *ngIf="date_fin_promo?.touched && !date_fin_promo?.valid">
            <div *ngIf="date_fin_promo?.errors?.required">
                La date fin est obligatoire
              </div>
            <div *ngIf="date_fin_promo?.errors?.pattern">
              La promotion doit etre écrit sous cette forme Année/Mois/Jour
            </div>
          </div>
        </div>
      </div>

        <!--<mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>-->
        
        <div class="form-group">
         
          <textarea
            for="description_promo"
            placeholder="Description"
            id="description_promo"
            type="text"
            class="form-control"
            formControlName="description_promo"
            name="description_promo"
          ></textarea>
          <div
            class="alert alert-danger"
            *ngIf="description_promo?.touched && !description_promo?.valid"
          >
            <div *ngIf="description_promo?.errors?.required">
              La description est obligatoire
            </div>
          </div>

        </div>
     
        <button
          type="submit"
          class="btn text-white m-2"
          style="background-color: #d88c8a; border-radius: 30px;"
        >
          Enregistrer
        </button>
        <button
        routerLink="/CentrePromotion/{{ id }}"
        class="btn m-2"
        style="color: #1f5473;"
      >
        Annuler
      </button>
      </form>
    </div>
  </div>
</div>
<br><br><br><br><br>