<app-dash-nav></app-dash-nav>
<div class="container">
  <div>
    <button class="button my-5" routerLink="/AjouterPromotion/{{ id }}"><span>Nouvelle promotion </span></button>

  <div *ngIf="info?.length == 0" class="alert alert-warning">Vous n'avez aucune promotion </div>
  <div class="card mb-3" *ngFor="let promotion of info; let i = index">
    <div class="row no-gutters">
      <div class="col">
        <div class="card-body">
          <h2 class="card-title my-2">Intitulé de la promotion : {{ promotion?.titre_promo }}</h2>
          <p class="card-text"> {{ promotion?.description_promo }} </p>
          
          <h3 class="card-text">Date de debut : {{ promotion?.date_debut_promo | date:'shortDate'| date:'dd-MM-yyyy' }} </h3>
          <h3 class="card-text">Date de fin : {{ promotion?.date_fin_promo | date:'shortDate' | date:'dd-MM-yyyy' }} </h3>
          <h3 class="card-text">Taux : {{ promotion?.pourcentage }} % </h3>

        </div>
      </div>
      <button class="buttonSup" (click)="delete(promotion)" >Supprimer <span> <i class="fa fa-trash fa-lg fa-fw" aria-hidden="true"></i> </span></button>
      <button class="buttonMod " routerLink="/UpdatePromotion/{{ promotion?.id_promo }}">Modifier
        <span> <i class="fa fa-edit fa-lg fa-fw" aria-hidden="true"></i> </span></button>
    </div>
  </div>
  <button class="button my-5" routerLink="/AjouterPromotion/{{ id }}"><span>Nouvelle promotion </span></button>
</div>
</div>