<app-dash-nav></app-dash-nav>
<div class="container">
  <div>
    <button class="button my-5" routerLink="/AjouterPromotion/{{ id }}"><span>Nouvelle promotion </span></button>

  <div *ngIf="info?.length == 0" class="alert alert-warning">Vous n'avez aucune promotion </div>
  <div class="card mb-3" *ngFor="let promotion of info; let i = index">
    <div class="row no-gutters">
      <div class="col">
        <div class="card-body">
          <h5 class="card-title"> titre</h5>
          <p class="card-text"> description </p>
          <p class="card-text">
          <p></p>

        </div>
      </div>
      <button class="buttonSup" (click)="delete(promotion)" >Supprimer <span> <i class="fa fa-trash fa-lg fa-fw" aria-hidden="true"></i> </span></button>
      <button class="buttonMod " routerLink="/UpdatePromotion/">Modifier
        <span> <i class="fa fa-edit fa-lg fa-fw" aria-hidden="true"></i> </span></button>
    </div>
  </div>
  <button class="button my-5" routerLink="/AjouterPromotion/{{ id }}"><span>Nouvelle promotion </span></button>
</div>
</div>