<app-navbar>

  <div class="container">
<br><br>
  <div *ngIf="info?.length == 0">
    <br><br>
    <button class="col-3 p-2 butt my-5" routerLink="/LesCentres"><span>Réserver une séance par ici ! </span></button>

    <div  class="alert alert-warning">Vous n'avez aucune réservation </div><br><br><br><br>

  </div>
  <button class="col-3 p-2 butt my-5" routerLink="/History/{{ id }}"><span>Consultez votre historique ici </span></button>

    <div class="card mb-3" *ngFor="let ress of info">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <h2 class="card-title my-2"> {{ ress?.nomService }} </h2>
            <h3 class="card-text"> Pour : {{ ress?.nbre_personnes_res }} personnes</h3>
            
            <h3 class="card-text">Prévu pour le : {{ ress?.dateRes  | date:'shortDate'| date:'dd-MM-yyyy' }} </h3>
            <h3 class="card-text">Prix totale : {{ ress?.montant }} TND </h3>
  
          </div>
        </div>
        <button class="buttonMod " routerLink="/UpdateReservation/{{ ress?.id_res }}">Modifier
          <span> <i class="fa fa-edit fa-lg fa-fw" aria-hidden="true"></i> </span></button>
      </div>
    </div>
    
  </div>
  <br><br><br><br>
  <div class="container-fluid">
    <h2>Voir encore d'autre service :</h2>
  <div class="card-deck">
  <div class="card" *ngFor="let service of service">
    <a routerLink="/Reservation/{{ service?.id_service }}"><img class="col-12 col-md-8 col-lg-5 card-img-top" 
      src = "{{this.centreService.host+'/api/service/get/'+ service.id_service +'/bycentre/' +service.idCentre}}">		</a>

    <div class="card-body">
        <h5 class="card-title">{{ service?.libelle_service }}</h5>
        <p class="card-text">{{ service?.description_service }}</p>
        <p class="card-text">{{ service?.prix_service }} TND par personne</p>
      </div>
    </div>
  </div>
</div>
<br><br>
  </app-navbar>

<!--<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>


<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>-->

