<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [ngClass]="{ hidden: !(isHandset$ | async) }"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <a mat-list-item routerLinkActive="active-link" *ngIf="!loggedin()" class="nav-link" routerLink="/Home"> Acceuil <span
          class="sr-only">(current)</span></a>
      <a mat-list-item *ngIf="!loggedin()" routerLinkActive="active-link" class="nav-link" routerLink="/EspaceCentre">Espace centre</a>
      <a mat-list-item *ngIf="!loggedin()" routerLinkActive="active-link" class="nav-link" routerLink="/LesCentres">Les centres</a>
      <a mat-list-item class="nav-link" *ngIf="loggedin()" class="btn" style="color: #1F5473; border-color: #1F5473;" routerLink="EspaceCentre"
        (click)="logOut()">
        <i class="fa fa-sign-out-alt fa-lg fa-fw" aria-hidden="true"></i>
        Logout</a>>
      <a mat-list-item *ngIf="!loggedin()" class="nav-link"><img (click)="open(content)" src="assets/login.png" alt="login"></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a mat-list-item class="navbar-brand" *ngIf='!loggedin()' routerLink="/Home"><img src="assets/logo.png" alt="logo"></a>
      <a mat-list-item class="navbar-brand" *ngIf='loggedin()'><img src="assets/logo.png" alt="logo"></a>
     
      <span class="spacer"></span>
      <div  [ngClass]="{ hidden: (isHandset$ | async) }">
        <a mat-list-item routerLinkActive="active-link" *ngIf="!loggedin()" class="nav-link" routerLink="/Home"> Acceuil <span
          class="sr-only">(current)</span></a>
      <a mat-list-item *ngIf="!loggedin()" routerLinkActive="active-link" class="nav-link" routerLink="/EspaceCentre">Espace centre</a>
      <a mat-list-item *ngIf="!loggedin()" routerLinkActive="active-link" class="nav-link" routerLink="/LesCentres">Les centres</a>
      <a mat-list-item class="nav-link" *ngIf="loggedin()" class="btn" style="color: #1F5473; border-color: #1F5473;" routerLink="EspaceCentre"
        (click)="logOut()">
        <i class="fa fa-sign-out-alt fa-lg fa-fw" aria-hidden="true"></i>
        Logout</a>
      <a mat-list-item *ngIf="!loggedin()" class="nav-link"><img (click)="open(content)" src="assets/login.png" alt="login"></a>
      </div>
    </mat-toolbar>
    <mat-toolbar  *ngIf="Clientloggedin()">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
       <mat-icon>menu</mat-icon>
     </button>
     <span>My App</span>
     <span class="example-spacer"></span>
     <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
       <mat-icon>favorite</mat-icon>
     </button>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
   </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Se connecter</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="loginForm" name="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="Email">Email</label>
        <div class="form-group inputWithIcon">
          <input aria-describedby="EmailHelp" placeholder="Votre Email" formControlName="Email" type="Email" id="Email"
            class="form-control">
          <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
          <div class="alert alert-danger" *ngIf="Email?.touched && !Email?.valid">
            <div *ngIf="Email?.errors?.required">Le mail est obligatoire</div>
            <div *ngIf="Email?.errors?.email">Le mail doit etre valide</div>
          </div>
        </div>
        <div class="form-group inputWithIcon">
          <input aria-describedby="PasswordlHelp" placeholder="Votre Mot de passe" formControlName="Password"
            type="Password" id="Password" class="form-control">
          <i class="fa fa-key fa-lg fa-fw" aria-hidden="true"></i>
          <div class="alert alert-danger" *ngIf="Password?.touched && !Password?.valid">
            <div *ngIf="Password?.errors?.required">Le Mot de passe est obligatoire</div>
          </div>
        </div>
      </div>
      <hr>
      <button type="submit" [disabled]="loginForm.invalid" (click)="modal.close('Save click')"
        class=" btn text-white m-2" style="background-color: #d88c8a; border-radius: 100px;">Connexion</button>
  </form>
  <div class="row">
    <p class="mx-5 mt-3">Vous ne faite pas partie de la famille ? <a routerLink="/InscriClient"
        (click)="modal.close('Save click')" style="color:#1F5473; font-size: medium;">Inscrivez-vous ici</a></p>

  </div>
  </div>
</ng-template>