<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [ngClass]="{ hidden: !(isHandset$ | async) }"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>HydroLife</mat-toolbar>
    <mat-nav-list>
      <div class="searchbarRes">
        <div class="search_wrapRes search_wrap_3Res">
          <div class="search_boxRes">
            <input type="text" class="inputRes search-sltRes" placeholder="Chercher un service">
            <div class="btn btn_commonRes">
              <img src="assets/search.png" class="searchRes">
            </div>
          </div>
        </div>
      </div>
      <a mat-list-item style="color: #1F5473;" routerLinkActive="active-link" *ngIf="!loggedin()" class="nav-link"
        routerLink="/Home"> Acceuil
        <span class="sr-only">(current)</span></a>
      <a mat-list-item style="color: #1F5473;" *ngIf="!loggedin() && !Clientloggedin()" routerLinkActive="active-link"
        class="nav-link" routerLink="/EspaceCentre" style="color: #1F5473;">Espace centre</a>
      <a mat-list-item style="color: #1F5473;" *ngIf="!loggedin()" routerLinkActive="active-link" class="nav-link"
        routerLink="/LesCentres">Les
        centres</a>
      <a mat-list-item style="color: #1F5473;" class="nav-link btn" routerLink="/MyReservation/{{ info?.id }}"
        *ngIf="!loggedin() && Clientloggedin()">Mes réservations</a>
      <a mat-list-item style="color: #1F5473;" class="nav-link btn" *ngIf="!loggedin() && Clientloggedin()"
        (click)="openDialog()">Mon profil</a>
      <a mat-list-item style="color: #1F5473;" class="nav-link btn" *ngIf="!loggedin() && Clientloggedin()"
        routerLink="EspaceCentre" (click)="logOutClient()">Logout</a>
      <a mat-list-item *ngIf="!loggedin() && !Clientloggedin()" class="nav-link"><img (click)="open(content)"
          src="assets/login.png" alt="login"></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="fixed-top ">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a mat-list-item class="navbar-brand" routerLink="/Home"><img src="assets/logo.png"
          alt="logo"></a>

          <app-recherche-service></app-recherche-service>

      <span class="spacer"></span>
      <div [ngClass]="{ hidden: (isHandset$ | async) }">

        <a mat-list-item style="color: #1F5473;" routerLinkActive="active-link" *ngIf="!loggedin()"
        routerLink="/Home"> Acceuil
        <span class="sr-only">(current)</span></a>

        <a mat-list-item *ngIf="!loggedin() && !Clientloggedin()" routerLinkActive="active-link"
          routerLink="/EspaceCentre">Espace centre</a>

        <a mat-list-item routerLinkActive="active-link"
          routerLink="/LesCentres">Les centres</a>

          <a mat-list-item *ngIf="loggedin() && !Clientloggedin()" routerLinkActive="active-link"
          routerLink="/CentreService/{{ id }}">Mon espace</a>

        <a mat-list-item *ngIf="!loggedin() && Clientloggedin()" [matMenuTriggerFor]="beforeMenu"><img
            src="assets/login.png" alt="login"></a>

        <mat-menu #beforeMenu="matMenu" xPosition="before">

          <a mat-list-item style="color: #1F5473;" class="btn nav-link" routerLink="/MyReservation/{{ info?.id }}"
          *ngIf="!loggedin() && Clientloggedin()">Mes réservations</a>
        
          <a mat-list-item style="color: #1F5473;" class="btn nav-link" *ngIf="!loggedin() && Clientloggedin()"
            (click)="openDialog()">Mon profil</a>
     

            <a mat-list-item style="color: #1F5473;" class=" btn nav-link" *ngIf="!loggedin() && Clientloggedin()"
            routerLink="EspaceCentre" (click)="logOutClient()">Logout</a>

        </mat-menu>

        <a mat-list-item *ngIf="!loggedin() && !Clientloggedin()" class="nav-link"><img (click)="open(content)"
            src="assets/login.png" alt="login"></a>

            <a mat-list-item  *ngIf="loggedin()" style="color: #1F5473;"
            routerLink="EspaceCentre" (click)="logOut()">Logout</a>
      </div>
    </mat-toolbar>
    <mat-toolbar>
      <span>My Application</span>
    </mat-toolbar>
    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Connectez-vous</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="loginForm" name="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <div class="form-group inputWithIcon">
          <input aria-describedby="EmailHelp" placeholder="Votre Email" formControlName="Email" type="Email" id="Email"
            class="form-control">
          <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
          <div class="alert alert-danger" *ngIf="Email?.touched && !Email?.valid">
            <div *ngIf="Email?.errors?.required">Le mail est obligatoire</div>
            <div *ngIf="Email?.errors?.email">Le mail doit etre valide</div>
          </div>
        </div>
        <div class="form-group inputWithIcon">
          <input aria-describedby="PasswordlHelp" placeholder="Votre Mot de passe" formControlName="Password"
            type="Password" id="Password" class="form-control">
          <i class="fa fa-key fa-lg fa-fw" aria-hidden="true"></i>
          <div class="alert alert-danger" *ngIf="Password?.touched && !Password?.valid">
            <div *ngIf="Password?.errors?.required">Le Mot de passe est obligatoire</div>
          </div>
        </div>
      </div>
      <hr>
      <button type="submit" (click)="modal.close('Save click')"
        class=" btn text-white m-2" style="background-color: #d88c8a; border-radius: 100px;">Connexion</button>
    </form>
    <div class="row">
      <p class="mx-5 mt-3">Vous ne faite pas partie de la famille ? <a routerLink="/InscriClient"
          (click)="modal.close('Save click')" style="color:#1F5473; font-size: medium;">Inscrivez-vous ici</a></p>

    </div>
  </div>
</ng-template>