.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

mat-toolbar {
 
background-color:#E1E1E1 ;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.spacer{
  flex: 1 1 auto;
}

.mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color: #1F5473;
  text-decoration: none;
}

.form-control.ng-invalid.ng-dirty.ng-touched {
  border: 2px solid red;
}

input[type="Email"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="password"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="Email"]:focus {
  border-color: #1f5473;
  box-shadow: 0 0 8px 0 #1f5473;
}


.inputWithIcon input[type="Email"] {
  padding-left: 50px;
}

input[type="password"]:focus {
  border-color: #1f5473;
  box-shadow: 0 0 8px 0 #1f5473;
}


.inputWithIcon input[type="password"] {
  padding-left: 40px;
}
.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 10px;
  top: 5px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="Email"]:focus + i {
  color: #1f5473;
}
.inputWithIcon input[type="password"]:focus + i {
  color: #1f5473;
}

.resStyle {
  margin-left: 280px;
  margin-right: -150px;
}

div a {

  color: #1F5473;
  font-size: large; 
}

div a:hover{
  text-decoration: none;
}
div li {
  list-style: none;
}
a.active-link {
  border-bottom: 2px solid #d88c8a;
}
a {
  border-bottom: none;
}

@media screen and (max-width: 600px) {
  .resStyle {
    margin: 0;
  }
}

.search_wrap{
    margin: 38px auto;
  }
  
  .search_wrap .search_box{
    position: relative;
    width: 500px;
    height: 60px;
  }

  .search {
    height: 25px;
    width: auto;
    display: inline-block;
    border: none;
    right: 15px;
    z-index: 2;
    cursor: pointer;
  }
  
  .search_wrap .search_box .input{
  	position: absolute;
    top: -10px;
    left: 180px;
    width: 55%;
    height: 60%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
  //  background-color: whitesmoke;
    background: transparent;
    border: 2px solid #d88c8a;
  }
  
  .search_wrap .search_box .btn{
  	top: 0px;
    width: 70px;
    height: 110%;
    z-index: 1;
    cursor: pointer;
  }
  

  
  
  .search_wrap .search_box .btn.btn_common .fas{
    position: absolute;
    top: 23%;
    left: 86%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 20px;
  }
  
  .search_wrap.search_wrap_3 .search_box .input{
    padding-right: 80px;
  }
  
  .search_wrap.search_wrap_3 .search_box .input{
    border-radius: 50px;
  }
  
  .search_wrap.search_wrap_3 .search_box .btn{
    right: 0px;
    border-radius: 50%;
  }
  
  .search-sec{
      padding: 2rem;
  }
  
  .search-slt{
      display: block;
      width: 100%;
      font-size: 0.875rem;
      line-height: 1.5;
      color: #55595c;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius:0;
  }

  .search_wrapRes{
      margin: 38px auto;
    }
    
    .search_wrapRes .search_boxRes{
      position: relative;
      width: 500px;
      height: 60px;
    }
  
    .searchRes {
      height: 25px;
      width: auto;
      display: inline-block;
      border: none;
      right: 15px;
      z-index: 2;
      cursor: pointer;
    }
    
    .search_wrapRes .search_boxRes .inputRes{
      position: absolute;
      top: -10px;
      width: 40%;
      height: 60%;
      padding: 10px 20px;
      border-radius: 3px;
      font-size: 18px;
      background: transparent;
      border: 2px solid #d88c8a;
    }
    
    .search_wrapRes .search_boxRes .btn{
      top: 0px;
      width: 70px;
      height: 110%;
      z-index: 1;
      cursor: pointer;
    }
    
    .search_wrapRes .search_boxRes .btn.btn_commonRes .fas{
      position: absolute;
      top: 23%;
      left: 35%;
      transform: translate(-50%,-50%);
      color: #fff;
      font-size: 20px;
    }
    
    .search_wrapRes.search_wrap_3Res .search_boxRes .inputRes{
      padding-right: 80px;
    }
    
    .search_wrapRes.search_wrap_3Res .search_boxRes .inputRes{
      border-radius: 50px;
    }
    
    .search_wrapRes.search_wrap_3Res .search_boxRes .btn{
      right: 0px;
      border-radius: 50%;
    }
    
    .search-secRes{
        padding: 2rem;
    }
    
    .search-sltRes{
        display: block;
        width: 100%;
        font-size: 0.875rem;
        line-height: 1.5;
        color: #55595c;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius:0;
    }

    @media screen and (max-width: 960px) {
      .searchbar{
        display: none;
      }
    }