<body>
    <div class="bg">
        <div class="cap">
        <h1 style="font-size:4vw;" class="con">Devenez membre de la famille</h1>
        <p class="con">Devenez membre du premier réseau de centres d'hydrothérapie</p>
        <p class="con">Moderniser vos services pour atteindre vos clients</p>
        <button class="btn text-white" routerLink="/InscriCentre" style="background-color: #D88C8A;">Commencer</button>
    </div>
</div>
    <br><br><br>
    <div class="container">
    <div class="row ">
        <h1 class="col-xs-6 col-md-4 mb-5 text-center">Commencez votre nouvel air avec HydroLife</h1>
        <div class="col-xs-6 col-md-4 mb-5 text-center">
            <h4 class="mb-3">Découvrez une nouvelle façon de gérer votre travaille</h4>
            <p>HydroLife vous offre la possibilité de gérer vos réservation et paiement de façon numérique moderne et rapide</p>
        </div>
        <div class="col-xs-6 col-md-4 text-center">
            <h4 class="mb-3">Recevez vos paiements en toute sécurité</h4>
            <p>HydroLife vous met tout les moyen de sécurité à votre disposition</p>
        </div>

    </div>
    <br><br>
    <div class="bg2">
        <div class="cap">
        <h2 style="font-size:2vw;" class="con1">Commencez votre voyage numérique</h2>
        <p class="con1" style="font-size:1.8vw;">Plusieurs directeurs et représentants témoignent d'une qualité meilleure de leur service grace à notre plateforme</p>
        <button class="btn text-white" routerLink="/InscriCentre" style="background-color: #D88C8A;">S'inscrire</button>
    </div></div>
    <br><br><br>
</div>
</body>