<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <div class="bg">
        <div class="cap">
            <h1 class="con conH1">Devenez membre de la famille</h1>
            <p class="con">Devenez membre du premier réseau de centres d'hydrothérapie ou vous pouvez agrandir 
                votre réseau et gérait votre travail d'une façon moderne, simple et rapide pour offrir 
                de meilleur service et garantir la satisfaction client
            </p>
            <p class="con">Moderniser vos services pour élargir votre clientèle </p>
            <button class="button text-white" routerLink="/InscriCentre"
                ><span>S'inscrire </span></button>
        </div>
    </div>
    <br><br><br>
    <div class="container">
        <div class="row ">
            <h1 class="col-xs-6 col-md-4 mb-5 text-center">Commencez votre nouvel air avec HydroLife</h1>
            <div class="col-xs-6 col-md-4 mb-5 text-center">
                <h4 class="mb-3">Découvrez une nouvelle façon de gérer votre travaille</h4>
                <p>HydroLife vous offre la possibilité de gérer vos réservation et paiement de façon numérique moderne
                    et rapide</p>
            </div>
            <div class="col-xs-6 col-md-4 text-center">
                <h4 class="mb-3">Recevez vos paiements en toute sécurité</h4>
                <p>HydroLife vous met tout les moyen de sécurité à votre disposition</p>
            </div>

        </div>
        <br><br>
        <div class="bg2">
            <div class="cap">
                <h2 class="con1">Commencez votre voyage numérique</h2>
                <p class="con1">Plusieurs directeurs et représentants témoignent d'une qualité
                    meilleure de leur service grace à notre plateforme</p>
                <button class="button text-white" routerLink="/InscriCentre"
                ><span>Commancer </span></button>
            </div>
        </div>
        <br><br><br>
        <div class="container">
            <h2 class="mb-5">Pourquoi HydroLife :</h2>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/309/200?image=1050" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rapprochez vous de vos client</h5>
                        <p class="card-text">Plus besoin de faire de la publicité partout ! HydroLife regroupe tous vos
                            clients dans un seul espace
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/309/200?image=1041" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Réglez vos réservation</h5>
                        <p class="card-text">HydroLife vous offre la possibilité de gérer vos réservations d'une manière
                            automatique plus besoin de téléphone ni d'agenda</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/309/200?image=1039" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Paiement en ligne</h5>
                        <p class="card-text">Méthode de paiement en ligne sécurisée et conforme aux normes
                            internationales</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/309/200?image=1019" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Client satisfait</h5>
                        <p class="card-text">80% de nos clients sont satisfaits et approuve la valeur ajouter de
                            HydroLife à leur travailler</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>