
.bg{
    background-image:url('https://images.unsplash.com/photo-1515377905703-c4788e51af15?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 20%;

}
  .cap{
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    text-shadow: 2px 2px 3px #000000;
    
  }
  .con{
      margin-bottom: 70px;
  }

  @media screen and (max-width: 600px) {
    .con  {
      margin-bottom: 5px;
    }
  }

  .bg2{
    background-image:url('https://images.unsplash.com/photo-1551672746-89991811c186?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80');
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 15%;
    border-radius: 15px;

}
.con1{
    margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
    .con1  {
      margin-bottom: 5px;
    }
  }
  .card-deck {
    margin: 0 -15px;
    justify-content: space-between;
  }
  
  .card-deck .card {
    margin: 0 0 1rem;
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .card-deck .card {
      -ms-flex: 0 0 48.7%;
      flex: 0 0 48.7%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .card-deck .card {
      -ms-flex: 0 0 32%;
      flex: 0 0 32%;
    }
  }
  
  @media (min-width: 992px)
  {
    .card-deck .card {
      -ms-flex: 0 0 24%;
      flex: 0 0 24%;
    }
  }
  