

  <div class="container">
    <div class="row py-5 mt-4 align-items-center">
      <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
        <img src="assets/inscri2.jpeg" alt="" class="img-fluid rounded mb-3 d-none d-md-block">
        <h1>Devenez memebre de la famille</h1>
        <p class="font-italic text-muted mb-0">Pour suivre vos réservations et voir les dernières promotions</p>
      </div>

      <div class="col-md-7 col-lg-6 ml-auto">
        <form class="form" [formGroup]="addClientForm" #f="ngForm" (ngSubmit)="onSubmit()">
          <div class="row">

            <div class="input-group col-lg-6 mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white px-4 border-md border-right-0">
                  <i class="fa fa-user text-muted"></i>
                </span>
              </div>
              <input placeholder="Votre nom" for="nom" name="nom" id="nom" type="text" formControlName="nom"
                class="form-control bg-white border-left-0 border-md">
              <div class="alert-danger p-2" *ngIf="nom?.touched && !nom?.valid">
                <div *ngIf="nom?.errors?.required">Le nom est obligatoire</div>
                <div *ngIf="nom?.errors?.pattern">
                  Le nom ne doit pas contenir de chiffres
                </div>
              </div>
            </div>

            <div class="input-group col-lg-6 mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white px-4 border-md border-right-0">
                  <i class="fa fa-user text-muted"></i>
                </span>
              </div>
              <input placeholder="Votre prenom" for="prenom" name="prenom" id="prenom" type="text"
                formControlName="prenom" class="form-control bg-white border-left-0 border-md">
              <div class="p-2 alert-danger" *ngIf="prenom?.touched && !prenom?.valid">
                <div *ngIf="prenom?.errors?.required">Le prenom est obligatoire</div>
                <div *ngIf="prenom?.errors?.pattern">
                  Le prenom ne doit pas contenir de chiffres
                </div>
              </div>
            </div>

            <div class="input-group col-lg-12 mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white px-4 border-md border-right-0">
                  <i class="fa fa-phone-square text-muted"></i>
                </span>
              </div>
              <input for="tel" placeholder="Numéro de téléphone" type="text" id="tel" name="tel" formControlName="tel"
                class="form-control bg-white border-md border-left-0 pl-3">
              <div class="alert alert-danger" *ngIf="tel?.touched && !tel?.valid">
                <div *ngIf="tel?.errors?.required">
                  Le numéro de téléphone est obligatoire
                </div>
                <div *ngIf="tel?.errors?.pattern">
                  Le numéro doit se composer de chiffres seulement
                </div>
                <div *ngIf="tel?.errors?.minlength">
                  Le numéro doit se composer de 8 chiffres
                </div>
                <div *ngIf="tel?.errors?.maxlength">
                  Le numéro ne doit pas dépasser 13 chiffres
                </div>
              </div>
            </div>

            <div class="input-group col-lg-6 mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white px-4 border-md border-right-0">
                  <i class="fa fa-envelope text-muted"></i>
                </span>
              </div>
              <input for="email" placeholder="Votre Email" id="email" type="text" formControlName="email" name="email"
                class="form-control bg-white border-left-0 border-md">
              <div class="alert alert-danger" *ngIf="email?.touched && !email?.valid">
                <div *ngIf="email?.errors?.required">Le email est obligatoire</div>
                <div *ngIf="email?.errors?.email">Le email doit etre valide</div>
              </div>
            </div>

            <div class="input-group col-lg-6 mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white px-4 border-md border-right-0">
                  <i class="fa fa-key text-muted"></i>
                </span>
              </div>
              <input for="password" placeholder="Mot de passe" type="password" id="password" name="password"
                formControlName="password" class="form-control bg-white border-left-0 border-md">
              <div class="alert alert-danger" *ngIf="password?.touched && !password?.valid">
                <div *ngIf="password?.errors?.required">
                  Le mot de passe est obligatoire
                </div>
                <div *ngIf="password?.errors?.minlength">
                  Le mot de passe doit se composer de 8 caractére
                </div>
              </div>
            </div>

            <div class="input-group col-lg-12 mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white px-4 border-md border-right-0">
                  <i class="fa fa-map-marker text-muted"></i>
                </span>
              </div>
              <input for="adresse" placeholder="Adresse du centre" id="adresse" type="text" formControlName="adresse"
                name="adresse" class="form-control bg-white border-left-0 border-md">
              <div class="alert alert-danger" *ngIf="adresse?.touched && !adresse?.valid">
                <div *ngIf="adresse?.errors?.required">
                  L'adresse est obligatoire
                </div>
              </div>
            </div>

            <div class=" col-lg-12 mb-4">
            <mat-form-field   appearance="fill">
              <mat-label>Date de naissance</mat-label>
              <input  matInput [matDatepicker]="picker" for="dateNaissance" name="dateNaissance" id="dateNaissance"
                formControlName="dateNaissance">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            </div>
            <div class="form-group col-lg-12 mx-auto mb-0">
              <button type="submit" class="btn btn-block py-2" style="background-color: #D88C8A; border-radius: 30px;">
                <span class="text-white">Créer votre compte</span>
              </button>
            </div>

            <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
              <div class="border-bottom w-100 ml-5"></div>
              <span class="px-2 small text-muted font-weight-bold text-muted">OU</span>
              <div class="border-bottom w-100 mr-5"></div>
            </div>

            <div class="form-group col-lg-12 mx-auto">
              <a style=" border-radius: 30px;" href="#" class="btn btn-primary btn-block py-2 btn-facebook">
                <i class="fa fa-facebook-f mr-2"></i>
                <span class="font-weight-bold">Continuer avec Facebook</span>
              </a>
              <a style=" border-radius: 30px;" href="#" class="btn btn-primary btn-block py-2 btn-twitter">
                <i class="fa fa-twitter mr-2"></i>
                <span class="font-weight-bold">Continue avec Twitter</span>
              </a>
            </div>

            <div class="text-center w-100">
              <p class="text-muted font-weight-bold">Déja inscrit ? <a routerLink="/LoginClient" class="ml-2"
                  style="color: #1f5473;">Connectez-vous ici</a></p>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

