.button {
    border-radius: 30px;
    background-color: #D88C8A;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2rem;
    padding: 8px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  /*.trunc{
    font-size: medium ;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }*/

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .buttonMod {
    border-radius: 30px;
    background-color: #D88C8A;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2rem;
    padding: 3px;
    width: 150px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 48px;
  }
  
  .buttonMod span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonMod span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonMod:hover span {
    padding-right: 25px;
  }
  
  .buttonMod:hover span:after {
    opacity: 1;
    right: 0;
  }

  .buttonSup {
    border-radius: 30px;
    background-color: #1f5473;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    padding: 3px;
    width: 140px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 48px;
  }
  
  .buttonSup span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonSup span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonSup:hover span {
    padding-right: 25px;
  }
  
  .buttonSup:hover span:after {
    opacity: 1;
    right: 0;
  }

.container	{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin: 0 auto;
	max-width: 1170px;
	padding: 20px;
}

.polaroid {
	background: #ffffff;
	padding: 15px 15px 40px;
}

.photo {
	height: 400px;
	margin-bottom: 10px;
	object-fit: cover;
	width: 100%;
}

h2 {
	font-size: 1.5rem;
}

p {
	font-size: 0.8rem;
}


.trash {
  height: 25px;
  width: auto;
  display: inline-block;
  border: none;
  right: 15px;
  z-index: 2;
  cursor: pointer;
}