<app-navbar>
  <br><br>
  <div class="container">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <img src="assets/carousel 2.png" class="img-fluid">
              </div>
              <div class="col-6">
                <h1 class="card-title"> {{ info?.nom }} </h1>
                <p class="card-text">{{ info?.description }}</p>
                <div class="row mb-2">
                  <i class="fa fa-map-marker fa-lg fa-fw mt-1" aria-hidden="true" style="color: #D88C8A;"></i>
                  <h3 class="card-text "> {{ info?.adresse }} </h3>
                </div>
                <div class="row mb-2">
                  <i class="fa fa-at fa-lg fa-fw mt-1" aria-hidden="true" style="color: #D88C8A;"></i>
                  <h3 class="card-text">{{ info?.email }}</h3>
                </div>
                <div class="row">
                  <i class="fa fa-phone fa-lg fa-fw mt-1" aria-hidden="true" style="color: #D88C8A;"></i>
                  <h3 class="card-text">{{ info?.tel }}</h3>
                </div>
              </div>
            </div>
            <mat-grid-list cols="2" rowHeight="2:1" class="my-5">
              <mat-grid-tile *ngFor="let item of crudApi.listData ">
                <img src="{{this.crudApi.host+'/api/photo/find/'+item.id_photo}}" alt=""
                  style="object-fit: cover; width: 100%; height: 100%;">
              </mat-grid-tile>
            </mat-grid-list>
            
          </div>
        </div>
      </div>
    </div>
  </div>

</app-navbar>