<app-navbar>
  <br><br><br>
  <div class="container">

    <div>
      <div>
        <h1 class="nom"> {{ info?.nom }} </h1>
        <p class="mt-2">{{ info?.description }}</p>

      </div>
      <div>
        <div *ngIf="crudApi.listData?.length == 0" class="alert alert-warning mt-5">Aucune photo n'est disponible </div>
        <mat-grid-list cols="2" rowHeight="2:1" class="my-5">
          <mat-grid-tile *ngFor="let item of crudApi.listData ">
            <a (click)="openDialogPic($event)" >
            <img id="{{item.id_photo}}" src="{{this.crudApi.host+'/api/photo/find/'+item.id_photo}}"
              style="object-fit: cover; width: 100%; height: 100%;"></a>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12">
        <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)" class="col-2">
          <agm-marker [latitude]="latitude" [longitude]="longitude" *ngIf="locationChosen"></agm-marker>
        </agm-map>
      </div>
      <div class="col-12 mt-5">
        <h1 class="mb-5 nom2">Pour nous retrouver : </h1>
        <div class="row my-4">
          <i class="fa fa-map-marker fa-2x fa-fw" aria-hidden="true" style="color: #D88C8A;"></i>
          <h2 class="adresse"> {{ info?.adresse }} </h2>
        </div>
        <div class="row my-4">
          <i class="fa fa-at fa-2x fa-fw mt-1" aria-hidden="true" style="color: #D88C8A;"></i>
          <h2 class="">{{ info?.email }}</h2>
        </div>
        <div class="row mb-5">
          <i class="fa fa-phone fa-2x fa-fw " aria-hidden="true" style="color: #D88C8A;"></i>
          <h2 class="">{{ info?.tel }}</h2>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-3 col-md-2">
        <img src="assets/corona.png">
      </div>
      <div class=" mt-2 col-9 col-md-10">
        <h1>Mesures supplémentaires de santé et de sécurité </h1>
        <p>Cet établissement a pris des mesures supplémentaires concernant la santé et l'hygiène afin de vous assurer
          une détante en toute sécurité.</p>
        <button style="color: white; background-color: #D88C8A; border-radius: 30px;" class="btn py-2 px-3"  (click)="openDialog()">Voir les mesures de
          sécurité</button>
      </div>
    </div>
    <h1 class="mb-5 nom2">Nos services : </h1>
    <div *ngIf="services?.length == 0" class="alert alert-warning mt-5">Aucun service n'est disponible </div>
    <div class="mb-3" *ngFor="let service of services;">
      <div class="row">
      <img class="col-12 col-md-8 col-lg-5" src = "{{this.userService.host+'/api/service/get/'+ service.id_service +'/bycentre/' +service.idCentre}}">		
        <div class="col-12 col-md-4 mt-md-5 col-lg-5">
          <h1>{{ service?.libelle_service }} </h1>
          <p> {{ service?.description_service }} </p>
          <h3>Prix : {{ service?.prix_service }} TND / personne</h3>
      
          <button class="button" *ngIf="Clientloggedin()" routerLink="/Reservation/{{service.id_service}}"><span>Réserver
            </span></button>
          <button class="button" *ngIf="!Clientloggedin()" routerLink="/LoginClient"><span>Réserver </span></button>
        </div>
      </div>
      <hr>
    </div>


  </div>
</app-navbar>