.nom{
    font-size: 40px; 
}

.nom2{
  font-size: 30px;
}

.adresse{
    font-size: 20px;
    color: black;
}

.button {
    border-radius: 25px;
    background-color: #1f5473;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2rem;
    padding: 8px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 700px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  agm-map {
    height: 400px;
  }