<app-dash-nav></app-dash-nav>

<div class="container"> 
    <div class="row" >
        <div class="col-4" style="background-color: #1F5473;">
            <div class="col">
            <img src="assets/Ellipse 2.png" class="text-center m-5">
            <ul style=" list-style-type: none;" >
                <li class="mb-4" >
                    <a class="text-white" routerLink="">Historique de réservation</a>
                </li>
                <li class="mb-4">
                    <a class="text-white" routerLink="">Historique de réservation</a>
                </li>
                <li class="mb-4">
                    <a class="text-white" routerLink="">Historique de réservation</a>
                </li> 
            </ul>
        </div>
        </div>
        <div class="col">
            <div class="text-center">
            <h3 class="m-5" >Bienvenue {{ info.nom }}  </h3>
            <div class="row ml-5">
            <div class="col-12 col-md-5 mb-4">
                <div class="card">
                  <img class="card-img-top" src="assets/login.png" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Ajouter un nouveau service</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5 mb-4">
                <div class="card">
                  <img class="card-img-top" src="assets/login.png" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Les reservations</p>
                  </div>
                  
                </div>
              </div>
              <div class="col-12 col-md-6 mb-4">
                <div class="card">
                  <img class="card-img-top" src="assets/login.png" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Gallerie</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 mb-4">
                <div class="card">
                  <img class="card-img-top" src="assets/login.png" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">7aja o5ra</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
    </div>
    <br><br><br>
    