
<app-dash-nav></app-dash-nav>
<div class="container">
  <div class="row">

    <div class="text-left  col-9">
      <h2 class="mb-5"> {{ info?.nom }}</h2>
     <p style="color: #1f5473;">Description : </p> 
      <p>{{ info?.description }}</p>
    </div>
  </div>

  <div class="my-5">
    <h3 class="mb-3">  Vos coordonées :</h3>
  <table>
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Adresse</th>
        <th scope="col">Num Téléphone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Email :">{{ info?.email }}</td>
        <td data-label="Adresse :">{{ info?.adresse }}</td>
        <td data-label="Num Téléphone :">{{ info?.tel }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
</div>
<br><br><br>
<button class="text-white button float-right" routerLink="/UpdateCentreProfil/{{info?.id}}">Modifier vos informations
 <span> <i class="fa fa-edit fa-lg fa-fw" aria-hidden="true"></i> </span></button>
</div>
<br><br><br>
