<h1 mat-dialog-title>Mesures supplémentaires de santé et de sécurité</h1>
<hr>
<div mat-dialog-content> <div class="row">
    <div class="col-6">
      <div>
      <h2 style="color: #D88C8A;">Équipements de sécurité</h2>
      <ul>
        <li class="m-1">Le personnel respecte les protocoles de sécurité établis par les autorités locales</li>
        <li class="m-1">Les accessoires partagés (menus, magazines, stylos, papier) ont été retirés</li>
        <li class="m-1">Gel hydroalcoolique dans l'hébergement et les pièces fréquentées</li>
        <li class="m-1">Contrôle de l'état de santé des clients</li>
        <li class="m-1">Trousse de secours disponible</li>
        <li class="m-1">Professionnels de santé disponibles</li>
        <li class="m-1">Thermomètres fournis aux clients par l'établissement</li>
        <li class="m-1">Masques à disposition des clients</li>
      </ul>
    </div>
    <div>
      <h2 style="color: #D88C8A;">Distanciation physique</h2>
      <ul>
        <li class="m-1">Enregistrement et départ sans contact</li>
        <li class="m-1">Paiement sans espèces disponible</li>
        <li class="m-1">Respect des règles de distanciation physique</li>
        <li class="m-1">Barrières physiques ou écrans placés entre le personnel et les clients dans les zones où cela est nécessaire</li>
      </ul>
    </div>
    </div>
    <div class="col-6">
      <div>
      <h2 style="color: #D88C8A;">Nettoyage et désinfection</h2>
      <ul>
        <li class="m-1">Utilisation de produits d'entretien efficaces contre le coronavirus</li>
        <li class="m-1">Serviettes, linge de lit et vêtements lavés conformément aux recommandations des autorités locale</li>
        <li class="m-1">Hébergement désinfecté après chaque séjour</li>
        <li class="m-1">Hébergement fermé après le nettoyage</li>
        <li class="m-1">Les clients peuvent refuser le service de nettoyage de l'hébergement pendant leur séjour</li>
      </ul>
    </div>
    <div>
      <h2 style="color: #D88C8A;">Sécurité des aliments et boissons</h2>
      <ul>
        <li class="m-1">Distanciation physique dans les espaces repas</li>
        <li class="m-1">Livraison de repas possible dans l'hébergement</li>
        <li class="m-1">Les assiettes, les couverts, les verres et les autres éléments de la vaisselle sont désinfectés</li>
        <li class="m-1">Récipients pour petit-déjeuner à emporter</li>
        <li class="m-1">Protection hermétique des plats livrés</li>
      </ul>
    </div>
    </div>
  </div></div>
<div mat-dialog-actions>
  <button  mat-dialog-close class="btn text-white " style="background-color: #1f5473;border-radius: 30px;">Super !</button>
</div>