<div class="searchbar mt-4">
    <div class="search_wrap search_wrap_3">
        <div class="search_box">
            <form [formGroup]="SearchForm" #f="ngForm" (ngSubmit)="onSubmit()">
                <input type="text" for="mot" name="mot" id="mot" formControlName="mot" name="mot"
                    class="input search-slt text-center" placeholder="Chercher un service ou un centre ">
            </form>


            <div class="btn btn_common">
                <i type="submit" class="fas"><img src="assets/search.png" class="search"></i>
            </div>

            <div class="container">
                <div class=" col-xs-2 col-sm-2 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 bg-light">

                    <div class="d-flex">
                        <div class="col-xs-2 col-sm-2 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                            <div class="panel panel-primary p-1" *ngIf="div1">
                                <div class="panel-heading m-3">
                                    <h3 class="panel-title  ">résultat de recherche pour: <span
                                            style="color: #d88c8a;">"{{ LeMot.value }}"</span></h3>
                                </div>
                                <div class="panel-body" *ngFor="let info of info">
                                    <a (click)="Close()" routerLink="/Reservation/{{ info.id_service }}">
                                        <div class="row">
                                            <div class="col-xs-1 col-3 col-md-4 ">
                                                <img class="img-fluid"
                                                    src="{{this.userService.host+'/api/service/get/'+ info.id_service +'/bycentre/' +info.idCentre}}"
                                                    alt="Service Pic">
                                            </div>
                                            <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                                <h3>{{ info?.libelle_service }}</h3>
                                                <tr>
                                                    <td>Prix: {{ info?.prix_service }} TND </td>
                                                </tr>
                                                <tr>
                                                    <p class="trunc">Description: {{ info?.description_service }}</p>
                                                </tr>
                                            </div>
                                        </div>
                                        <span class="px-2 small text-muted font-weight-bold text-muted"></span>

                                    </a>
                                </div>

                                <div class="panel-body" *ngFor="let centre of infoCentre">
                                    <a (click)="Close()" routerLink="/CentreDetail/{{ centre.id }}">
                                        <div class="row">
                                            <div class="col-xs-1 col-3 col-md-4 text-center mb-2 ">
                                                <img class="img-fluid"
                                                    src="assets/map.png"
                                                    alt="Service Pic">
                                            </div>
                                            <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                                <h3>{{ centre?.nom }}</h3>
                                                <tr>
                                                    <td>Adresse: {{ centre?.adresse }} </td>
                                                </tr>
                                                <tr>
                                                    <p class="trunc">Téléphone: {{ centre?.tel }}</p>
                                                </tr>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div *ngIf="info?.length == 0 && infoCentre?.length == 0 ">
                                    <div class="alert alert-warning p-1">
                                        <p> Aucun résultat retrouver </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>