<div class="searchbar mt-4">
    <div class="search_wrap search_wrap_3">
        <div class="search_box">
            <form [formGroup]="SearchForm" #f="ngForm" (ngSubmit)="onSubmit()">
                <input type="text" for="mot" name="mot" (blur)="DynamicClose()" id="mot" formControlName="mot"
                    name="mot" class="input search-slt text-center" placeholder="Chercher un service ou un centre ">
            </form>

            <div class="btn btn_common" (click)="onSubmit()">
                <i type="submit" class="fas"><img src="assets/search.png" class="search"></i>
            </div>

            <div class="container" #content>
                <div class="col-6 col-md-12 col-lg-8 bg-light">
                    <div class="row">
                        <div class="p-1" *ngIf="div1">
                            <div class="row tit m-1 my-md-3">
                                <h5 class="col col-md-3">résultat de recherche pour: <span style="color: #d88c8a;">"{{
                                        LeMot.value }}"</span></h5>
                                <div class="col-md-7"></div>
                                <button type="button" class="btn col-md-2" aria-label="Close"
                                    (click)="Close()">X</button>
                            </div>
                            <div class="panel-body" *ngFor="let info of info">
                                <a (click)="Close()" routerLink="/Reservation/{{ info.id_service }}">
                                    <div class="d-md-flex">
                                        <div class="col col-md-6">
                                            <img class="img-fluid"
                                                src="{{this.userService.host+'/api/service/get/'+ info.id_service +'/bycentre/' +info.idCentre}}"
                                                alt="Service Pic">
                                        </div>
                                        <div class="col-2">
                                            <h3>{{ info?.libelle_service }}</h3>
                                            <tr>
                                                <td>Prix: {{ info?.prix_service }} TND </td>
                                            </tr>
                                            <tr>
                                                <p *ngIf="info.pourcentagePromo > 0">Promo: <span class="discount"> -{{
                                                        info?.pourcentagePromo }}% </span></p>
                                            </tr>
                                        </div>
                                    </div>
                                    <span class="px-2 small text-muted font-weight-bold text-muted"></span>

                                </a>
                            </div>

                            <div class="panel-body" *ngFor="let centre of infoCentre">
                                <a (click)="Close()" routerLink="/CentreDetail/{{ centre.id }}">
                                    <div class="d-md-flex">
                                        <div class="col-5 col-md-6 text-center mb-3">
                                            <img class="img-fluid" src="assets/map.png" alt="Service Pic">
                                        </div>
                                        <div class="col cen">
                                            <h3> {{ centre?.nom }} </h3>

                                            <p class="trunc d-none d-md-inline"> {{ centre?.adresse }} </p>

                                            <p> {{ centre?.tel }} </p>

                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div *ngIf="info?.length == 0 && infoCentre?.length == 0" class="col">
                                <div class="alert alert-warning col-10 p-2 m-3 text-center">
                                    <p> Aucun résultat trouvé </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>