<h2 class="text-center m-5" style="color: #d88c8a">Inscrivez votre centre</h2>
<div class="container text-center mb-5">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="resStyle">
        <div class="row">
         
          <div class="form-group inputWithIcon col">
            <input
              for="libelle_service"
              placeholder="nom du seer"
              required
              ngModel
              name="libelle_service"
              #libelle_service="ngModel"
              id="libelle_service"
              type="text"
              class="form-control"
            />
            <i class="fa fa-map-marker fa-lg fa-fw" aria-hidden="true"></i>
            <div
              class="alert alert-danger"
              *ngIf="libelle_service.touched && !libelle_service.valid"
            >
              <div *ngIf="libelle_service?.errors?.required">
                L'nom est obligatoire
              </div>
            </div>
          </div>
        </div>

        <div class="form-group inputWithIconN">
          <input
            for="description_service"
            placeholder="description_service du centre"
            required
            ngModel
            name="description_service"
            #description_service="ngModel"
            id="description_service"
            type="text"
            class="form-control"
          />
          <i class="fa fa-at fa-lg fa-fw" aria-hidden="true"></i>
          <div class="alert alert-danger" *ngIf="description_service.touched && !description_service.valid">
            <div *ngIf="description_service?.errors?.required">Le mail est obligatoire</div>
          </div>
        </div>

        <div class="row">
          <div class="form-group inputWithIcon col">
            <input
              name="prix_service"
              for="prix_service"
              placeholder="prix_service"
              required
              #prix_service="ngModel"
              type="text"
              id="prix_service"
              class="form-control"
              
              ngModel
            />
            <i class="fa fa-key fa-lg fa-fw" aria-hidden="true"></i>
            <div
              class="alert alert-danger"
              *ngIf="prix_service.touched && !prix_service.valid"
            >
              <div *ngIf="prix_service?.errors?.required">
                Le mot de passe est obligatoire
              </div>
            </div>
          </div>

          <div class="form-group inputWithIcon col">
            <input
              name="id_centre"
              for="id_centre"
              placeholder="id_centre"
              required
              #id_centre="ngModel"
              type="text"
              id="id_centre"
              class="form-control"
              
              ngModel
            />
            <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>
            <div
              class="alert alert-danger"
              *ngIf="id_centre.touched && !id_centre.valid"
            >
              <div *ngIf="id_centre?.errors?.required">
                Le numéro de téléphone est obligatoire
              </div>
            </div>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="f.invalid"
          class="btn text-white m-2"
          style="background-color: #d88c8a"
        >
          S'inscrire
        </button>
      </form>
    </div>
  </div>
</div>



















































<!--<br><br><br><br><br>
<h2 class="text-center m-5" style="color: #d88c8a">Ajouter un nouveau service</h2>
<div class="container text-center mb-5">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form  [formGroup]="addServiceForm" #f="ngForm" (ngSubmit)="addService()" class="resStyle">
        <div class="row">
          <div class="form-group inputWithIcon col">
            <input
              placeholder="Intitulé du service"
              for="libelle_service"
              name="libelle_service"
              id="libelle_service"
              type="text"
              class="form-control"
              formControlName="libelle_service" 
            />
            <i class="fa fa-font fa-lg fa-fw" aria-hidden="true"></i>
            <div class="alert alert-danger" *ngIf="libelle_service?.touched && !libelle_service?.valid">
              <div *ngIf="libelle_service?.errors?.required">
                  L'intitulé du service est obligatoire
                </div>
              <div *ngIf="libelle_service?.errors?.pattern">
                L'intitulé du service ne doit pas contenir de chiffres
              </div>
            </div>
          </div>

          <div class="form-group inputWithIcon col">
         
            <input
              for="prix_service"
              placeholder="prix (par personne)"
              id="prix_service"
              type="text"
              class="form-control"
              formControlName="prix_service"
              name="prix_service"
            />
            <i class="fa fa-usd fa-lg fa-fw" aria-hidden="true"></i>
            <div
              class="alert alert-danger"
              *ngIf="prix_service?.touched && !prix_service?.valid"
            >
              <div *ngIf="prix_service?.errors?.required">
                Le prix est obligatoire
              </div>
              <div *ngIf="prix_service?.errors?.pattern">
                Le prix ne doit pas contenir de lettre
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea
            for="description_service"
            placeholder="description du service"
            type="text"
            id="description_service"
            class="form-control"
            name="description_service"
            formControlName="description_service"
          ></textarea>
          <div class="alert alert-danger" *ngIf="description_service?.touched && !description_service?.valid">
            <div *ngIf="description_service?.errors?.required">
              La description est obligatoire
            </div>
          </div>
        </div>
       
        <button
          type="submit"
          [disabled]="f.invalid"
          class="btn text-white m-2"
          style="background-color: #d88c8a"
        >
          Enregistrer
        </button>
      </form>
    </div>
  </div>
</div>
<br><br><br><br><br>
-->