
.form-control.ng-invalid.ng-dirty.ng-touched {
    border: 2px solid red;
  }
  
  input[type="text"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }

  textarea {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }

  input[type="password"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }

  input[type="Email"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }

  input[type="text"]:focus {
    border-color: #1f5473;
    box-shadow: 0 0 8px 0 #1f5473;
  }

  textarea:focus {
    border-color: #1f5473;
    box-shadow: 0 0 8px 0 #1f5473;
  }
  
  input[type="password"]:focus {
    border-color: #1f5473;
    box-shadow: 0 0 8px 0 #1f5473;
  }

  input[type="Email"]:focus {
    border-color: #1f5473;
    box-shadow: 0 0 8px 0 #1f5473;
  }
  
  .inputWithIcon input[type="text"] {
    padding-left: 40px;
  }

  .inputWithIcon input[type="Email"] {
    padding-left: 40px;
  }

  .inputWithIcon input[type="password"] {
    padding-left: 40px;
  }

  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 15px;
    top: 5px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }
  
  .inputWithIcon input[type="text"]:focus + i {
    color: #1f5473;
  }

  .inputWithIcon input[type="password"]:focus + i {
    color: #1f5473;
  }
  
	.col-md-3{
		background-image: url('https://images.unsplash.com/photo-1569256245300-00e97c6ed2d6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=568&q=80');
    background-repeat: no-repeat;
    background-size: 100%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}

	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

  
	.contact-form button:focus{
		box-shadow:none;
	}
  
  .button {
    border-radius: 20px;
    border-color: #1f5473;
    background: transparent;
    color: #1f5473;
    text-align: center;
    font-size: 1rem;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }