<app-navbar>
    <br><br>
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-6">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <img class="img-fluid" src="assets/client.jpg" />
                        <h2 class="text-center">{{ service?.libelle_service }}</h2>
                    </div>
                </div>
            </div>


            <div class="col-12 col-lg-6 add_to_cart_block">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <p class="price mb-3">{{ service?.prix_service }} TND</p>
                      <!--  <p class="price_discounted">149.90 $</p>-->
                        <form class="form" [formGroup]="addReservationForm" #f="ngForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="colors">Nombre de personne<span class="text-danger">*</span> </label>
                                <input min="1" max="5" placeholder="*5 personnes par réservation maximum" class="form-control"
                                    for="nbre_personnes_res" id="nbre_personnes_res" type="number"
                                    formControlName="nbre_personnes_res" name="nbre_personnes_res">

                            </div>
                            <div class="form-group">
                                <label>Séléctionez la date de votre séance</label>
                                <div class="input-group mb-3">

                                    <mat-form-field class="col-12" appearance="fill">
                                        <mat-label>Date de votre séance</mat-label>
                                        <input [matDatepickerFilter]="myFilter" matInput [matDatepicker]="picker" for="date_debut_res"
                                            name="date_debut_res" id="date_debut_res" formControlName="date_debut_res">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group col-lg-12  mx-auto mb-0 ">
                                <button type="submit" class="btn  btn-lg btn-block"
                                    style="background-color: #D88C8A; border-radius: 30px;" [disabled]="f.invalid">
                                    <span class="text-white text-uppercase">reserver</span>
                                </button>
                            </div>
                        </form>
                        <div class="product_rassurance">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-credit-card fa-2x"></i><br />paiement 100%
                                    sécurisé</li>
                                <li class="list-inline-item"><i class="fa fa-phone fa-2x"></i><br />+216 {{info?.tel}}
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-12">
                <div class="card border-light mb-3">
                    <div style="background-color: #1f5473;" class="card-header text-white text-uppercase"><i
                            class="fa fa-align-justify"></i> Description</div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ service?.description_service }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-navbar>