<app-dash-nav></app-dash-nav>
<div class="container">
<button class="btn btn-warning" routerLink="/AjouterService/{{ id }}">add</button>
</div>


<!--<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>-->