<app-dash-nav></app-dash-nav>
<div class="container">
<button class="btn btn-warning" routerLink="/AjouterService/{{ id }}">add</button>
<div class="card mb-3" style="max-width: 540px;" *ngFor="let service of info; let i = index">
    <div class="row no-gutters">
      <div class="col">
        <div class="card-body">
          {{ i }}
          <h5 class="card-title"> {{ service?.libelle_service }} </h5>
          <p class="card-text">{{ service?.description_service }}</p>
          <p class="card-text"><p>{{ service?.prix_service }} TND / personne</p>
         
        </div>
      </div>
    </div>
    <button class="btn btn-danger" (click)="delete(service)">sup</button>
  </div>
</div>