
<br><br><br><br><br>
<h2 class="text-center m-5" style="color: #d88c8a">Ajouter une promotion</h2>
<div class="container text-center mb-5">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form  [formGroup]="addPromotionForm" #f="ngForm" (ngSubmit)="addPromotion()" class="resStyle">
        <div class="row">
          <div class="form-group inputWithIcon col">
            <input
              placeholder="Titre de la promotion"
              for="titre_promo"
              name="titre_promo"
              id="titre_promo"
              type="text"
              class="form-control"
              formControlName="titre_promo" 
            />
            <i class="fa fa-font fa-lg fa-fw" aria-hidden="true"></i>
            <div class="alert alert-danger" *ngIf="titre_promo?.touched && !titre_promo?.valid">
              <div *ngIf="titre_promo?.errors?.required">
                  Le titre de la promotion est obligatoire
                </div>
              <div *ngIf="titre_promo?.errors?.pattern">
                Le titre de la promotion ne doit pas contenir de chiffres
              </div>
            </div>
          </div>
          <div class="form-group inputWithIcon col">
            <input
              placeholder="Pourcentage de la promotion"
              for="pourcentage"
              name="pourcentage"
              id="pourcentage"
              type="text"
              class="form-control"
              formControlName="pourcentage" 
            />
            <i class="fa fa-font fa-lg fa-fw" aria-hidden="true"></i>
            <div class="alert alert-danger" *ngIf="pourcentage?.touched && !pourcentage?.valid">
              <div *ngIf="pourcentage?.errors?.required">
                  La promotion est obligatoire
                </div>
              <div *ngIf="pourcentage?.errors?.pattern">
                La promotion ne doit pas contenir de lettres
              </div>
            </div>
            <mat-form-field>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepickerFilter]="dateFilter" [matDatepicker]="myDatepicker">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker  #myDatepicker></mat-datepicker>
            </mat-form-field>
          </div>
 
        </div>
        <div class="form-group">
         
          <textarea
            for="description_promo"
            placeholder="Description"
            id="description_promo"
            type="text"
            class="form-control"
            formControlName="description_promo"
            name="description_promo"
          ></textarea>
          <div
            class="alert alert-danger"
            *ngIf="description_promo?.touched && !description_promo?.valid"
          >
            <div *ngIf="description_promo?.errors?.required">
              La description est obligatoire
            </div>
          </div>
        </div>
      
        <button
          type="submit"
          [disabled]="f.invalid"
          class="btn text-white m-2"
          style="background-color: #d88c8a"
        >
          Enregistrer
        </button>
      </form>
    </div>
  </div>
</div>
<br><br><br><br><br>