
ul {
  list-style-type: none;
  padding-inline-start: 35px;
}

h1 {
  font-size: 7.5em;
  font-weight:bold;
}
h2 {
  font-weight:bold;
}
.btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
  &.green {
    border: 4px solid #1F5473;
    color: #1F5473;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 100%;
      background: #1F5473;
      z-index: -1;
      transition: 0.2s ease;
    }
    &:hover {
      color: white;
      background: #1F5473;
      transition: 0.2s ease;
      &:before {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width:768px) {
  body {
    display:block;
  }
  .container {
    margin-top:70px;
    margin-bottom:70px;
  }
} 