ngb-carousel img {
   	width: 100%;
    outline: none;
}

ngb-carousel {
   width: inherit;
   height: inherit;
}

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.carousel-control-prev {
     z-index: 20;
}

.carousel-control-next {
     z-index: 20;
}

.carousel-indicators{
    z-index: 20;
}

.container .input{
	border: 0;
	outline: none;
	color: #8b7d77;
}

.search_wrap{
	margin: 38px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;
}

.search_wrap .search_box .input{
	top: -40px;
	left: 50px;
	width: 55%;
	height: 60%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
	background: transparent;
	border: 2px solid #d88c8a;
}
 
agm-map {
  height: 600px;
}

.search_wrap .search_box .btn{
	width: 70px;
	height: 110%;
	z-index: 1;
	cursor: pointer;
}

.btn_common{
	left: 650px; 
	bottom: 102px;
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: -25%;
	left: 60%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
}

.search_wrap.search_wrap_3 .search_box .input{
	padding-right: 80px;
}

.search_wrap.search_wrap_3 .search_box .input{
	border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn{
	right: 0px;
	border-radius: 50%;
}

.search-sec{
    padding: 2rem;
}

.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius:0;
}

@media (max-width: 600px){
	.btn_common{
		left: 5px; 
		bottom: 11px;
	}
	.searchbar{
    display: none;
  }
}
  
.form-control.ng-invalid.ng-dirty.ng-touched {
    border: 2px solid red;
  }
  
  input[type="Email"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  
  input[type="password"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  
  input[type="Email"]:focus {
    border-color: #1f5473;
    box-shadow: 0 0 8px 0 #1f5473;
  }
  
  .inputWithIcon input[type="Email"] {
    padding-left: 50px;
  }
  
  input[type="password"]:focus {
    border-color: #1f5473;
    box-shadow: 0 0 8px 0 #1f5473;
  }
  
  .inputWithIcon input[type="password"] {
    padding-left: 40px;
  }
  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 10px;
    top: 5px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }
  
  .inputWithIcon input[type="Email"]:focus + i {
    color: #1f5473;
  }
  .inputWithIcon input[type="password"]:focus + i {
    color: #1f5473;
  }
  
  .resStyle {
    margin-left: 280px;
    margin-right: -150px;
  }

  div a {
    color: white;
    font-size: large; 
  }
  
  div a:hover{
    text-decoration: none;
}

div li {
    list-style: none;
}

 a.active-link {
    border-bottom: 2px solid #d88c8a;
  }

  a {
    border-bottom: none;
  }

  @media screen and (max-width: 600px) {
    .resStyle {
      margin: 0;
    }
  }
  
  .header_change{
    display: none;
  }

  .header_change div a {
    color: #1F5473;
    font-size: large; 
  }

#wrap {
  margin-left: 60px;
  display: inline-block;
  position: relative;
  height: 60px;
  padding: 0;
  position: relative;
}

input[type="text"] {
  height: 60px;
  font-size: 1.2rem;
  display: inline-block;
  border: none;
  outline: none;
  color: #1F5473;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

.search {
  height: 50%;
  display: inline-block;
  border: none;
  position: absolute;
  top: 8px;
  right: 15px;
  z-index: 2;
  cursor: pointer;
  transition: opacity .4s ease;
}

@media (min-width: 992px){
  .search-sec{
      position: relative;
      top: -700px;
     
  }
}

.boxsec1{
  background-color: black; 
  position: relative;
  width: 300px;
  height: 400px;
  margin-top: 50px;
}

.sec1Text{
  font-size: 40px;
  margin-top: 80px;
  margin-left: 80px;
  position:absolute;
  clear: both;
  display: inline-block;
  white-space: nowrap;
}

.sec1Para{
  line-height: 1.6;
  font-size: 18px;
  top: 300px;
  margin-left: 80px;
  position:absolute;
  clear: both;
}

.buttsec4{
  font-size: 1.2rem; 
  background-color: #D88C8A; 
  border-radius: 100px; 
 // position: absolute;
  bottom: 100px;
  left: 40px;
}

.boxsec2{
  background-color: #D88C8A; 
  position: relative;
  width: 400px;
  height: 600px;
  margin-top: 150px;
}

.sec2Text{
  color: black;
  font-size: 50px;
  margin-top: 40px;
  margin-left: -150px;
  position:absolute;
  clear: both;
  display: inline-block;
  white-space: nowrap;
}

.sec2Para{
  line-height: 1.6;
  font-size: 18px;
  top: 200px;
  margin-left: -150px;
  position:absolute;
  clear: both;
}

.buttsec2{
  font-size: 1.2rem; 
  background-color: #1F5473; 
  border-radius: 100px; 
  position: absolute;
  bottom: 100px;
  left: 40px;
}

.boxsec3{
  background-color: #D88C8A; 
  position: relative;
  width: 300px;
  height: 450px;
}

.sec3Text{
  color: black;
  font-size: 40px;
  clear: both;
  display: inline-block;
  white-space: nowrap;
}

.sec3Para{
  line-height: 1.6;
  font-size: 20px;
  margin-top: 120px;
  position:absolute;
  clear: both;
  display: inline-block;
  white-space: nowrap;

}

.boxsec4{
  
  background-color: #1F5473;
  width: 650px;
  height: 300px;
  margin-left: 80px;

}

.PromText{
  font-size: 40px;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 10px;
}

.PromPara{
  font-size: 50px;
  margin-left: 80px;
  margin-top: 90px;
}

.PromPara a{
  cursor: pointer;
  font-size: x-large;
}

.textt{
  color: black;
}

.containerr {
  position: relative; 
}

.centered {
  position: absolute;
  top: 20%;
  left: 30%;
 // transform: translate(-50%, -50%);
 // margin-left: 70px;
}

.wordCarousel {
  font-size: 3.5rem;
  font-weight: 400;
  color: white;
  text-shadow: 2px 1px 1px black;
  div {
      overflow: hidden;
      position: relative;
      float: right;
      height: 85px;
      padding-top: 30px;
      margin-top: -25px;
      li {
          color: #1F5473;
          font-weight: 500;
          padding: 0 10px;
          height: 45px;
          margin-bottom: 45px;
          display: block;
          text-shadow: none;
       
      }
  }
}

.hitext{

  font-size: 3.5rem;
  font-weight: 400;
  color: white;
  text-shadow: 2px 1px 1px black;
  position: absolute;
  top: 35%;
  left: 32%;

}

.button {
  border-radius: 50px;
  border: none;
  font-size: 1.5rem;
  padding: 25px;
  width: 390px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  top: 45%;
  left: 37%;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 16s cubic-bezier(0.23, 1, 0.32, 1.2)  }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
  0% { margin-top: -180px; }
  5% { margin-top: -90px;  }
  50% { margin-top: -90px; }
  55% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}

@keyframes flip3 {
  0% { margin-top: -270px; }
  5% { margin-top: -180px; }
  33% { margin-top: -180px; }
  38% { margin-top: -90px; }
  66% { margin-top: -90px; }
  71% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}

@keyframes flip4 {
  0% { margin-top: -360px; }
  5% { margin-top: -270px; }
  25% { margin-top: -270px; }
  30% { margin-top: -180px; }
  50% { margin-top: -180px; }
  55% { margin-top: -90px; }
  75% { margin-top: -90px; }
  80% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}

.secu{
  margin-top: 120px;
  h1{
    font-size: x-large;
    font-weight: 500;
  }

}

@media screen and (max-width: 600px) {

  .imgSec1{
    display: none;
  }


  .wordCarousel {
    font-size: 2rem;
    font-weight: 250;

  }
  .x{
    font-size: 2rem;
  }
  .centered {

    top: 20%;
    left: 10%;

  }

}

@media screen and (min-width: 601px) and (max-width: 992px) {


  .wordCarousel {
    font-size: 3rem;
    font-weight: 300;
  }

  .x{
    font-size: 3rem;
  }
  .centered {

    top: 20%;
    left: 20%;

  }

  
}

@media screen and (min-width: 1024px)  {



  .wordCarousel {
    font-size: 4rem;
    font-weight: 400;
  }

  .x{
    font-size: 3.5rem;
  }
  .centered {

    top: 20%;
    left: 27%;

  }
  
}

@media screen and (min-width: 1300px) and (max-width: 2560px) { 




  .wordCarousel {
    font-size: 6rem;
    font-weight: 400;
  }

  .x{
    font-size: 3.2rem;
  }
  .centered {

    top: 20%;
    left: 25%;

  }

}