<section>

  <div class="containerr">

    <ngb-carousel #ngcarousel>
      <ng-template ngbSlide id="one">
        <div class="picsum-img-wrapper">
          <img src="assets/carousel.jpg" alt="Slide 1">
        </div>
      </ng-template>
      <ng-template ngbSlide id="two">
        <div class="picsum-img-wrapper">
          <img src="assets/carousel 2.jpg" alt="Slide 2">
        </div>
      </ng-template>
      <ng-template ngbSlide id="three">
        <div class="picsum-img-wrapper">
          <img src="assets/inscri2.jpeg" alt="Slide 3">
        </div>
      </ng-template>
    </ngb-carousel>

    <h4 class="wordCarousel centered">
      <span>Bienvenue a Hydro </span>
      <div>
        <ul class="flip3" style="padding: 0;">
          <li><span style="color: #D88C8A; text-shadow: 1px 1px 1px black;" class="">Life</span></li>
          <li>Nature</li>
          <li>Vie</li>
        </ul>
      </div>
    </h4>
    <h3 class="hitext "><span>Commencez vos séances </span></h3>
    <button routerLink="/LesCentres" style="background-color: #1f5473;" class="button text-white"
                ><span>Voir les services disponible </span></button>

  </div>
</section>

<section>
  <div class="d-flex mt-2">
    <div class="col-6">
      <img src="assets/sec1.jpg" class="img-fluid imgSec1">
    </div>
    <div class="col-1"></div>
    <div class="col d-flex">
      <div class="p-5 boxsec1">
      </div>
      <h1 class="sec1Text text-white">Bienvenue a <span style="color: black;"> HydroLife </span> </h1>
      <p class="sec1Para text-white">Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua</p>
    </div>

  </div>
</section>

<section>
  <div class="d-flex">
    <div class="col-1"></div>
    <div class="col d-flex">
      <div class="my-4 p-5 boxsec2">
        <button class="btn text-white m-2 p-2 buttsec2" routerLink="/LesCentres">Consulter les centres</button>
      </div>
      <h1 class="sec2Text">Les centres inscrits </h1>
      <p class="sec2Para">Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua</p>
    </div>
    <div class="col-6">
      <img src="assets/sec2.png" class="img-fluid imgSec2">
    </div>
  </div>
</section>


<section class="my-3">

  <div class="d-flex">
    <div class="col-7 imgSec1">
      <img src="assets/sec1.jpg" class="img-fluid">
    </div>
    <div class="col-1 "></div>
    <div class="d-flex">
      <div class="my-4 p-5 boxsec4"></div>
      <h1 class="PromText text-white ">Promotion de la semaine</h1>
      <div class=" text-white PromPara " *ngFor="let promotion of info; let i=index;">
        <div *ngIf="3>i" class="d-flex mb-3">
          - {{ promotion?.titre_promo }}
          <div class="font-weight-bold mx-2">
            {{ promotion?.pourcentage }} %
          </div>
        </div>
        <button class="btn text-white m-2 p-2 buttsec4" routerLink="/AllPromotions">Consulter les promotions</button>
      </div>

    </div>

  </div>
</section>

<section class="container">

  <div class="row my-5 ">
    <div class="col-3 col-md-2 d-md-inline d-none">
      <img src="assets/corona.png">
    </div>
    <div class=" mt-2 col-9 col-md-10">
      <h1>Mesures supplémentaires de santé et de sécurité </h1>
      <p>Cet établissement a pris des mesures supplémentaires concernant la santé et l'hygiène afin de vous assurer
        une détante en toute sécurité.</p>
      <button style="color: white; background-color: #D88C8A; border-radius: 30px;" class="btn py-2 px-3"
        (click)="openDialog()">Voir les mesures de
        sécurité</button>
    </div>
  </div>
</section>

<agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
  <agm-marker [latitude]="latitude" [longitude]="longitude" *ngIf="locationChosen"></agm-marker>
</agm-map>

<section class="mt-4">
  <div class="d-flex">
    <div class="col-6 d-none d-md-inline">
      <img src="assets/sec3.jpg" class="img-fluid imgSec3">
    </div>
    <div class="col-1"></div>
    <div class=" d-flex">
      <div class="my-5 p-5 boxsec3">
        <h1 class="sec3Text text-white">Pourquoi l'hydrothérapie ?</h1>
        <p class="sec3Para  text-white">L’eau chauffée soulage et atténue de nombreuses pathologies: <br>
          douleurs articulaires, problèmes de circulation sanguine,<br> problèmes respiratoires, maladies de peau…
          L’hydrothérapie <br> apporte un réél bien-être et un tonus appréciable !</p>
      </div>

    </div>

  </div>
</section>