<app-navbar>
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 d-none d-sm-inline ">
        <img src="assets/lescentres.jpeg" alt="" class="img-fluid mb-3 d-none d-md-block">
        <h1>L'hydrotherapie et plus</h1>
        <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, seddo eiusmod tempor incididunt ut labore et
          dolore magna aliqua elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua</p>
      </div>
      <div class="col-12 col-md-9">
        <div class="card mb-3" *ngFor="let centre of info;">
          <div class="row no-gutters">
            <div class="col">
              <div class="card-body">
                <h1 style="color: #1f5473;"> {{ centre?.nom }} </h1>
                <div class="row ">
                  <i class="fa fa-map-marker fa-2x fa-fw" aria-hidden="true" style="color: #D88C8A;"></i>
                  <h3 class="mt-2"> {{ centre?.adresse }} </h3>
                </div>
                <p class="card-text">
                <p>{{ centre?.description }}</p>
                <button class="button" routerLink="/CentreDetail/{{ centre?.id }}"><span>Voir plus </span></button>
                <div *ngIf="centre.photos?.length == 0" class="alert alert-warning mt-5">Aucune photo n'est disponible
                </div>
                <mat-grid-list cols="3" rowHeight="3:2" class="my-5">
                  <mat-grid-tile *ngFor="let item of centre.photos;let i=index;">
                    <div *ngIf="3>i " class="d-flex mb-3">
                    <img src="{{this.crudApi.host+'/api/photo/find/'+item.id_photo}}"
                      style="object-fit: cover; width: 100%; height: 100%;" >
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
    <div class="container">
    <div class="row my-5">
      <div class="col-4 col-md-1 mr-4">
        <img src="assets/corona.png">
      </div>
      <div class=" mt-2 col-12 col-md-10">
        <h1>Mesures supplémentaires de santé et de sécurité </h1>
        <p>Les établissements inscrit a HydroLife ont pris des mesures supplémentaires concernant la santé et
          l'hygiène afin de vous assurer
          une détante en toute sécurité.</p>
        <button style="color: white; background-color: #D88C8A; border-radius: 30px;" class="btn py-2 px-3"
          (click)="openDialog()">Voir les mesures de
          sécurité</button>
      </div>
    </div>
    </div>
  </div>
  
</app-navbar>